/* PHASE 3: Forms */

.content-main {
    display: flex;
}

.form1 {
    height: 50%;
    background-color: #eee;
    margin: 0 0 0 20px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 19px;
    border-radius: 5px;
}

.input {
    margin: 0 0 20px 0;
}

.input > label {
    display: block;
    font-weight: 700;
    padding-bottom: 5px;
}

.input > input {
    display: block;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
}

.input > #body {
    display: block;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    height: 120px;
}

.submit {
    margin-top: 20px;
    padding-bottom: 3px;
}

.submit > button {
    background-color: #0c0;
    position: relative;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #070;
}

.cancel-button {
    padding-left: 5px;

}

.cancel-button > strong {
    padding-left: 5px;
    font-weight: bold;
    cursor: pointer;
}